.todo__Wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
}

.Popup__wrapper {
  width: 720px;
  height: 50%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0;
  border: 1px solid grey;
  border-radius: 30px;
  background-color: #fff;
  z-index: 5;
}

.Popup__container {
  padding: 10px;
  text-align: start;
}

.Popup__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Popup__cancel-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Popup__cancel-btn:hover {
  background-color: rgb(219, 218, 218);
}

.Popup__title {
  margin: 0;
  text-align: center;
}

.Popup__main {
  display: flex;
  flex-direction: column;
}

.Popup__container label input {
  width: 90%;
  margin-left: 2%;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.Popup__add-btn {
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  align-self: center;
  cursor: pointer;
}

.Popup__add-btn:hover {
  border: 1px solid rgba(128, 128, 128, 0.411);
}